*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: blue;
    padding: 15px 0;
    transition: background-color 0.4s, box-shadow 0.4s;
    z-index: 1000;
}
#nav-bar.scrolled {
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
}
.nav-menu li{
    margin: 0 20px;
}
.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 12px;
    transition: color 0.3s, background-color 0.3s;
}
.nav-menu a:hover {
    background-color: #ff9800;
    color: black;
    border-radius: 5px;
}
.content{
    margin-top: 100px;
    text-align: center;
}
.spacer{
    height: 1500px;
}